body{
    background-image: url("../img/pattern.jpg");
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

article{
    border-bottom: 1px solid black;
    text-indent: 5px;
}

ul li{
    display: inline-block;
    padding-right: 10px;
}

footer{
    background-color: black;
    padding: 2px;
    position: relative;
    width: 100%;
    bottom:0px;
    left: 0px;
    right: 0px;
}

h5{
    text-align: center;
    color: white;
}

section{
    border: 0px solid transparent;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: white;
    text-align: justify;
}

#title{
    text-align: center;
    padding-top: 25px;
}